<mat-card class="main-wrapper">
    <div class="search-toggle-container">
        <mat-form-field appearance="fill" class="search-bar">
            <input matInput (keyDown.enter)="searchHandler($event)" id="cityInput" placeholder="Search by city" [(ngModel)]="city" />
        </mat-form-field>
        <mat-button-toggle-group id='unitToggleBtn' (click)="toggleHandler()" [(ngModel)]="unit" aria-label="temperature unit">
            <mat-button-toggle id='metric' value="metric">°C</mat-button-toggle>
            <mat-button-toggle id='imperial' value="imperial">°F</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <ng-template [ngIf]="showDropDown">
        <div class="drop-down">
            <div class="city-option" [id]="'city-option-'+city.id" *ngFor="let city of cityList" (click)="selectCity(city)">
                {{ city.name }} &nbsp;&nbsp; {{ city.sys.country }}
            </div>
        </div>
    </ng-template>
    <button id='submitBtn' (click)="searchHandler($event)" type="submit" mat-raised-button color="primary" class="submit-btn" aria-label="submit">
    Search
  </button>

    <div *ngIf="cityObject.name !== ''; then weatherData; else errorData"></div>
    <ng-template #weatherData>
        <div class="weather-data">
            <div class="location-field">
                {{ cityObject.name }}, {{ cityObject.country }}
            </div>
            <div class="temp-field">
                {{ cityObject.temp }}
            </div>
            <div class="subtext-field">
                <i> feels like {{ cityObject.feelsLike }}</i>
            </div>
        </div>
    </ng-template>
    <ng-template #errorData>
        <span>
            {{errorMessage}}
        </span>
    </ng-template>
</mat-card>